{
  "name": "FinanceAgentV2",
  "model": {
    "provider": "bedrock",
    "modelId": "global.anthropic.claude-sonnet-4-6"
  },
  "tools": [
    {
      "type": "remote_mcp",
      "name": "finance-tool",
      "config": {
        "remoteMcp": {
          "url": "http://{{ .BnkIngressHost }}/v1/mcp/forecast"
        }
      }
    }
  ],
  "skills": [],
  "memory": {
    "mode": "disabled"
  }
}